{
	"useTabs": true,
	"singleQuote": true,
	"importOrder": ["^@/(.*)$", "^[./]"],
	"importOrderSortSpecifiers": true,
	"importOrderSeparation": true,
	"plugins": [
		"@trivago/prettier-plugin-sort-imports",
		"prettier-plugin-tailwindcss"
	]
}
